on early-init
    mount none /system/etc /etc bind rec  # docker fix
    mount sysfs sysfs /sys rw remount  # ueventd fix

    write /data/.empty 0
    mount none /data/.empty /proc/vmallocinfo bind # lxcfs?

on fs
    # no need to mount, and encryption not supported yet
    trigger nonencrypted

on boot
    # ION currently not supported
    setprop debug.stagefright.ccodec 0

on property:sys.boot_completed=1
    start boot_completed-setup

service boot_completed-setup /vendor/bin/boot_completed.redroid.sh
    user root
    group root
    oneshot

